<div [@routerTransition]>
    <app-page-header [heading]="' Danh mục sản phẩm '" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <!-- Button to Open the Modal -->
            <div class="card-body table-responsive">


                <!-- Thêm hãng sản xuất -->
                <button style="float: right;" type="button" class="btn btn-primary" (click)="showAdd()">
                  <i style="margin: auto;" class="fa fa-plus-square-o" aria-hidden="true"></i>
                </button>

                <div bsModal #AddEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
                aria-labelledby="dialog-sizes-name1" *ngIf="entity">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 id="dialog-sizes-name1" class="modal-title pull-left">Add and Edit Modal</h4>
                            <button type="button" class="close pull-right" (click)="AddEditModal.hide()"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form #loaiForm="ngForm" (ngSubmit)="onClick(loaiForm.value)">
                                <div class="form-group">
                                    <label for="email">Nhập mã danh mục:</label>
                                    <input type="hidden" name="id"  [(ngModel)]="Id">
                                    <input type="text" class="form-control" placeholder="" #madanhmuc="ngModel" name="madanhmuc" 
                                        [(ngModel)]="entity.madanhmuc">
                                </div>
                                <div class="form-group">
                                  <label for="pwd">Nhập tên danh mục: </label>
                                  <input type="text" class="form-control" placeholder="" name="tendanhmuc" #tendanhmuc="ngModel"
                                      [(ngModel)]="entity.tendanhmuc">
                               </div>
                                <div class="form-group">
                                    <label for="pwd">Mô tả: </label>
                                    <input type="text" class="form-control" placeholder="" name="mota" #mota="ngModel"
                                        [(ngModel)]="entity.mota">
                                </div>
                                <button style="margin-left: 350px;" type="submit"
                                    class="btn btn-primary">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End thêm -->

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <!-- <th>#</th> -->
                            <th>Mã danh mục</th>
                            <th>Tên danh mục</th>
                            <th>Mô tả</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr *ngFor="let item of items;index as i"> -->
                        <tr *ngFor="let item of items;index as i">
                            <!-- <td>{{i}}</td> -->
                            <th scope="row">{{item.madanhmuc}}</th>
                            <td>{{item.tendanhmuc}}</td>
                            <td>{{item.mota}}</td>
                            <td >
                                <i style="cursor: pointer;" class="fa fa-pencil-square-o text-success text-active" (click)="showEdit(item.madanhmuc)"></i>
                                <br>
                                <i style="cursor: pointer;" (click)="onDelete(item.madanhmuc)" class="fa fa-times text-danger text"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>