<!-- Header Section Start -->
<div class="header-section section bg-theme">
    <div class="container">
        <div class="row">
            
            <!-- Header Logo -->
            <div class="col">
                <div class="header-logo" style="width: 100px;
                position: absolute;
                left: 100px;
                top: 5px;
                transition: all .3s ease;
                z-index: 10;">
                    <a routerLink="/main">
                        <img src="assets/nguoidung/images/BeardClub.png" alt=""> 
                    </a>
                </div>
            </div>
            
            <!-- Main Menu -->
            <div class="col d-none d-lg-block">
                <nav class="main-menu">
                    <ul>
                        <li><a routerLink="/main">HOME</a>
                            <!-- <ul class="sub-menu">
                                <li><a href="index.html">Home One</a></li>
                                <li><a href="index-2.html">Home Two</a></li>
                            </ul> -->
                        </li>
                       
                        <li><a routerLink="/danhsachsanpham">PRODUCT</a>
                            <ul class="mega-menu">
                                <!-- <li class="col"><a href="#">Shop Grid Pages</a>
                                   
                                </li> -->
                                <li class="col" *ngFor="let menu of menus">
                                    <a routerLink="/danhsachsanpham">{{menu.tendanhmuc}}</a>
                                    <!-- <ul>
                                        <li *ngFor="let idex of loai"><a routerLink="/danhsachsanpham">{{idex.maloai}}</a></li>
                                    </ul> -->
                                </li>
                                 
                            </ul>
                        </li>
                        <li><a routerLink="/aboutus">ABOUT</a></li>
                        <li><a href="/blog">BLOG</a>
                            <ul class="sub-menu">
                                <li><a href="/blog">Blog List</a>
                                </li>
                                <li><a href="/chitietblog">Blog Details</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">PAGES</a>
                            <ul class="sub-menu">
                                <li><a href="/giohang">Cart</a></li>
                                <li><a href="/checkout">Checkout</a></li>
                                <li><a href="/hoidap">Faq</a></li>
                                <li><a href="/loginnguoidung">Login & Register</a></li>
                                <li><a href="/taikhoan">My Account</a></li>
                            </ul>
                        </li>
                        <li><a href="/lienhe">CONTACT</a></li>
                    </ul>
                </nav>
            </div>
            
            <!-- Header Action -->
            <div class="col">
                <div class="header-action">
                    
                    <!-- Wishlist -->
                    <a href="#" class="header-wishlist"><span class="icon">wishlist</span></a>
                    
                    <!-- Cart Wrap Start-->
                    <div class="header-cart-wrap">
                        <!-- Cart Toggle -->
                        <button class="header-cart-toggle"><span class="icon">cart</span><span class="number">2</span><span class="price">$289</span></button>
                        
                        <!-- Header Mini Cart Start -->
                        <div class="header-mini-cart">
                            <!-- Mini Cart Head -->
                            <div class="mini-cart-head">
                                <h3>Your cart</h3>
                            </div>
                            <!-- Mini Cart Body -->
                            <div class="mini-cart-body">
                                <div class="mini-cart-body-inner custom-scroll">
                                    <ul>
                                        <!-- Mini Cart Product -->
                                        <li class="mini-cart-product">
                                            <div class="image">
                                                <a href="#"><img src="assets/nguoidung/images/product/product-1.jpg" alt=""></a>
                                                <button class="remove"><i class="fa fa-trash-o"></i></button>
                                            </div>
                                            <div class="content">
                                                <a href="product-details-variable.html" class="title">Teritory Quentily</a>
                                                <span>2 x $35.00</span>
                                            </div>
                                        </li>
                                        <!-- Mini Cart Product -->
                                        <li class="mini-cart-product">
                                            <div class="image">
                                                <a href="#"><img src="assets/nguoidung/images/product/product-2.jpg" alt=""></a>
                                                <button class="remove"><i class="fa fa-trash-o"></i></button>
                                            </div>
                                            <div class="content">
                                                <a href="product-details-variable.html" class="title">Adurite Silocone</a>
                                                <span>1 x $59.00</span>
                                            </div>
                                        </li>
                                        <!-- Mini Cart Product -->
                                        <li class="mini-cart-product">
                                            <div class="image">
                                                <a href="#"><img src="assets/nguoidung/images/product/product-3.jpg" alt=""></a>
                                                <button class="remove"><i class="fa fa-trash-o"></i></button>
                                            </div>
                                            <div class="content">
                                                <a href="product-details-variable.html" class="title">Baizidale Momone</a>
                                                <span>1 x $78.00</span>
                                            </div>
                                        </li>
                                        <!-- Mini Cart Product -->
                                        <li class="mini-cart-product">
                                            <div class="image">
                                                <a href="#"><img src="assets/nguoidung/images/product/product-4.jpg" alt=""></a>
                                                <button class="remove"><i class="fa fa-trash-o"></i></button>
                                            </div>
                                            <div class="content">
                                                <a href="product-details-variable.html" class="title">Makorone Cicile</a>
                                                <span>2 x $65.00</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Mini Cart Footer -->
                            <div class="mini-cart-footer">
                                <h4>Subtotal: $272.00</h4>
                                <div class="buttons">
                                    <a href="/giohang">View cart</a>
                                    <a href="/checkout">Checkout</a>
                                </div>
                            </div>
                        </div><!-- Header Mini Cart End -->
                        
                    </div><!-- Cart Wrap End-->
                    
                </div>
            </div>
            
            <div class="col-12 d-block d-lg-none">
                <div class="mobile-menu"></div>
            </div>
            
        </div>
    </div>
</div><!-- Header Section End -->
