<div [@routerTransition]>
    <app-page-header [heading]="' Nhà cung cấp'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card-body table-responsive">

                 <!-- Form thêm, sửa sản phẩm -->
               <button style="float: right;" type="button" class="btn btn-primary" (click)="showAdd()">
                <i style="margin: auto;" class="fa fa-plus-square-o" aria-hidden="true"></i>
              </button>
            
              <div bsModal #AddEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
                    aria-labelledby="dialog-sizes-name1" *ngIf="entity">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 id="dialog-sizes-name1" class="modal-title pull-left">Add and Edit Modal</h4>
                                <button type="button" class="close pull-right" (click)="AddEditModal.hide()"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form #loaiForm="ngForm" (ngSubmit)="onClick(loaiForm.value)">
                                    <div class="form-group">
                                        <label for="email">Nhập mã nhà cung cấp</label>
                                        <input type="hidden" name="id"  [(ngModel)]="Id">
                                        <input type="text" class="form-control" placeholder="" #manhacungcap="ngModel" name="manhacungcap" 
                                            [(ngModel)]="entity.manhacungcap">
                                    </div>
                                    <div class="form-group">
                                      <label for="pwd">Nhập tên nhà cung cấp: </label>
                                      <input type="text" class="form-control" placeholder="" name="tennhacungcap" #tennhacungcap="ngModel"
                                          [(ngModel)]="entity.tennhacungcap">
                                   </div>
                                   <div class="form-group">
                                    <label for="pwd">Địa chỉ: </label>
                                    <input type="text" class="form-control" placeholder="" name="diachi" #diachi="ngModel"
                                        [(ngModel)]="entity.diachi">
                                     </div>
                                     <div class="form-group">
                                        <label for="pwd">Email: </label>
                                        <input type="text" class="form-control" placeholder="" name="email" #email="ngModel"
                                            [(ngModel)]="entity.email">
                                    </div>
                                                            
                                    
                                    <button style="margin-left: 350px;" type="submit"
                                        class="btn btn-primary">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End thêm -->

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <!-- <th>#</th> -->
                            <th>Mã nhà cung cấp</th>
                            <th>Tên nhà cung cấp</th>
                            <th>Địa chỉ</th>
                            <th>Email</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr *ngFor="let item of items;index as i"> -->
                        <tr *ngFor="let item of items;index as i">
                            <!-- <td>{{i}}</td> -->
                            <th scope="row">{{item.manhacungcap}}</th>
                            <td>{{item.tennhacungcap}}</td>
                            <td>{{item.diachi}}</td>
                            <td>{{item.email}}</td>
                            
                            
                            <td >
                                <i style="cursor: pointer;" class="fa fa-pencil-square-o text-success text-active"
                                 (click)="showEdit(item.manhacungcap)"></i>
                                <br>
                                <i style="cursor: pointer;" (click)="onDelete(item.manhacungcap)" 
                                class="fa fa-times text-danger text"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
    
</div>