<!-- Page Banner Section Start -->
<div class="page-banner-section section">
    <div class="container">
        <div class="row">
            <div class="col">
                
                <div class="page-banner text-center">
                    <h1>Faq</h1>
                    <ul class="page-breadcrumb">
                        <li><a style="color: #d8d8d8;" routerLink="/main"> Home</a></li>
                        <li>Faq</li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</div><!-- Page Banner Section End -->

<!-- Cart Section Start -->
<div class="cart-section section position-relative pt-90 pb-60 pt-lg-80 pb-lg-50 pt-md-70 pb-md-40 pt-sm-60 pb-sm-30 pt-xs-50 pb-xs-20 fix">
   
    <div class="container">
        <div class="row">
            
            <div class="col-lg-6 col-12 mb-20">
                <div class="section-title mb-30"><h1>Shopping Questions</h1></div>
                <div class="row">
                    <div class="col-12 mb-30">
                        <h3>Do you ship worldwide?</h3>
                        <p>This is the third article of a three-part series. I’m illustrating the marketing challenges of PrescottWeddings.com, a small business. If you don’t remember anything else about marketing, remember this: Frequency is king.</p>
                    </div>
                    <div class="col-12 mb-30">
                        <h3>How can I use a coupon code?</h3>
                        <p>This is the third article of a three-part series. I’m illustrating the marketing challenges of PrescottWeddings.com, a small business. If you don’t remember anything else about marketing, remember this: Frequency is king.</p>
                    </div>
                    <div class="col-12 mb-30">
                        <h3>How can I request a refund?</h3>
                        <p>This is the third article of a three-part series. I’m illustrating the marketing challenges of PrescottWeddings.com, a small business. If you don’t remember anything else about marketing, remember this: Frequency is king.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6 col-12 mb-20">
                <div class="section-title mb-30"><h1>Payment Questions</h1></div>
                <div class="row">
                    <div class="col-12 mb-30">
                        <h3>What Payment Methods Are Accepted?</h3>
                        <p>This is the third article of a three-part series. I’m illustrating the marketing challenges of PrescottWeddings.com, a small business. If you don’t remember anything else about marketing, remember this: Frequency is king.</p>
                    </div>
                    <div class="col-12 mb-30">
                        <h3>What Happens If There Is A Pricing Error?</h3>
                        <p>This is the third article of a three-part series. I’m illustrating the marketing challenges of PrescottWeddings.com, a small business. If you don’t remember anything else about marketing, remember this: Frequency is king.</p>
                    </div>
                    <div class="col-12 mb-30">
                        <h3>What Do You Do With My Information?</h3>
                        <p>This is the third article of a three-part series. I’m illustrating the marketing challenges of PrescottWeddings.com, a small business. If you don’t remember anything else about marketing, remember this: Frequency is king.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
</div><!-- Cart Section End -->

<!-- Brand Section Start -->
