<!-- Page Banner Section Start -->
<div class="page-banner-section section">
    <div class="container">
        <div class="row">
            <div class="col">
                
                <div class="page-banner text-center">
                    <h1>Login & Register</h1>
                    <ul class="page-breadcrumb">
                        <li><a style="color: #d8d8d8;" routerLink="/main"> Home</a></li>
                        <li>Login & Register</li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</div><!-- Page Banner Section End -->

<!-- Login & Register Section Start -->
<div class="login-register-section section position-relative pt-90 pb-60 pt-lg-80 pb-lg-50 pt-md-70 pb-md-40 pt-sm-60 pb-sm-30 pt-xs-50 pb-xs-20 fix">
    <div class="container">
        <div class="row">
           
            <!-- Login Form Start -->
            <div class="col-lg-4 col-md-6 col-12 mr-auto mb-30">
                <div class="login-register-form">
                    <h3>Already a Member?</h3>
                    <form action="#">
                        <div class="row">
                            <div class="col-12 mb-20">
                                <input placeholder="Email or Username" type="email">
                            </div>

                            <div class="col-12 mb-20">
                                <input placeholder="Password" type="password">
                            </div>

                            <div class="col-12">
                                <button class="btn btn-round btn-lg">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Login Form End -->
            
            <!-- Login Form Start -->
            <div class="col-lg-7 col-md-6 col-12 mb-30">
                <div class="login-register-form">
                    <h3>Register Form</h3>
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-6 col-12 mb-20">
                                <input placeholder="Name" type="text">
                            </div>

                            <div class="col-lg-6 col-12 mb-20">
                                <input placeholder="Enter your email" type="email">
                            </div>

                            <div class="col-lg-6 col-12 mb-20">
                                <input placeholder="Password" type="password">
                            </div>

                            <div class="col-lg-6 col-12 mb-20">
                                <input placeholder="Repeat Password" type="password">
                            </div>

                            <div class="col-12">
                                <button class="btn btn-round btn-lg">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Login Form End -->
            
        </div>
    </div>
</div><!-- Login & Register Section End -->
 <!-- Brand Section Start -->
 <div class="brand-section section pb-90 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
    <div class="container">
        <div class="row">
            
            <div class="brand-slider section">
                <div class="brand-item col"><img src="assets/nguoidung/images/brands/brand-1.png" alt=""></div>
                <div class="brand-item col"><img src="assets/nguoidung/images/brands/brand-2.png" alt=""></div>
                <div class="brand-item col"><img src="assets/nguoidung/images/brands/brand-3.png" alt=""></div>
                <div class="brand-item col"><img src="assets/nguoidung/images/brands/brand-4.png" alt=""></div>
                <div class="brand-item col"><img src="assets/nguoidung/images/brands/brand-5.png" alt=""></div>
            </div>
            
        </div>
    </div>
</div><!-- Brand Section End -->