<div [@routerTransition]>
    <app-page-header [heading]="' Sản phẩm'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card-body table-responsive">

                 <!-- Thêm start -->
                 <button style="float: right;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                    <i style="margin: auto;" class="fa fa-plus-square-o" aria-hidden="true"></i>
                </button>
                  <!-- The Modal -->
                  <div class="modal" id="myModal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                  
                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title">Thêm sản phẩm</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <!-- Modal body -->
                        <div class="modal-body">
                            <form #sanphamForm="ngForm" (ngSubmit)="onClick(sanphamForm.value)">
                                <div class="form-group">
                                  <label for="pwd">Nhập mã sản phẩm:</label>
                                  <input type="text" class="form-control" placeholder="" name="mahang" id="pwd" ngModel>
                                </div>
                                <div class="form-group">
                                  <label for="pwd">Nhập mã loại: </label>
                                  <input type="text" class="form-control" placeholder="" name="maloai" id="pwd" ngModel>
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Nhập mã hãng: </label>
                                    <input type="text" class="form-control" placeholder="" name="mahang" id="pwd" ngModel>
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Nhập tên sản phẩm: </label>
                                    <input type="text" class="form-control" placeholder="" name="tensanpham" id="pwd" ngModel>
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Nhập đơn giá: </label>
                                    <input type="text" class="form-control" placeholder="" name="dongia" id="pwd" ngModel>
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Ngày cập nhật: </label>
                                    <input type="text" class="form-control" placeholder="" name="ngaycapnhat" id="pwd" ngModel>
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Nhập số lượng: </label>
                                    <input type="text" class="form-control" placeholder="" name="soluong" id="pwd" ngModel>
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Nhập hạn sử dụng: </label>
                                    <input type="text" class="form-control" placeholder="" name="hansudung" id="pwd" ngModel>
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Nhập mô tả: </label>
                                    <input type="text" class="form-control" placeholder="" name="mota" id="pwd" ngModel>
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Nhập hình ảnh: </label>
                                    <input type="text" class="form-control" placeholder="" name="hinhanh" id="pwd" ngModel>
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Nhập trọng lượng: </label>
                                    <input type="text" class="form-control" placeholder="" name="trongluong" id="pwd" ngModel>
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Nhập xuất xứ: </label>
                                    <input type="text" class="form-control" placeholder="" name="xuatxu" id="pwd" ngModel>
                                </div>
                                  <button style="margin-left: 200px;" type="submit" class="btn btn-primary">Thêm</button>
                              </form>
                        </div>
                        
                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                        </div>
                  
                      </div>
                    </div>
                </div>
                <!-- End thêm -->

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <!-- <th>#</th> -->
                            <th>Mã sán phẩm</th>
                            <th>Mã loại</th>
                            <th>Mã hãng</th>
                            <th>Tên sản phẩm</th>
                            <th>Đơn giá</th>
                            <th>Ngày cập nhật</th>
                            <th>Số lượng</th>
                            <th>Hạn sử dụng</th>
                            <th>Mô tả</th>
                            <th>Hình ảnh</th>
                            <th>Trọng lượng</th>
                            <th>Xuất xứ</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr *ngFor="let item of items;index as i"> -->
                        <tr *ngFor="let item of items;index as i">
                            <!-- <td>{{i}}</td> -->
                            <th scope="row">{{item.masanpham}}</th>
                            <td>{{item.maloai}}</td>
                            <td>{{item.mahang}}</td>
                            <td>{{item.tensanpham}}</td>
                            <td>{{item.dongia}}</td>
                            <td>{{item.ngaycapnhat}}</td>
                            <td>{{item.soluong}}</td>
                            <td>{{item.hansudung}}</td>
                            <td>{{item.mota}}</td>
                            <td>
                                <img class="hinhanh" src="../assets/nguoidung/images/sanpham/{{item.hinhanh}}" alt="">
                            </td>
                            <td>{{item.trongluong}}</td>
                            <td>{{item.xuatxu}}</td>
                            <td >
                                <i class="fa fa-pencil-square-o text-success text-active"></i>
                                <br>
                                <i class="fa fa-times text-danger text"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
    
</div>