<div [@routerTransition]>
    <app-page-header [heading]="' Sản phẩm'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card-body table-responsive">

                <input style="width:30%" placeholder="Tìm kiếm" type="text" [(ngModel)]="keyword" name="keyword" />
                <button (click)="Search()">Tìm kiếm</button>
                            
                 <!-- Form thêm, sửa sản phẩm -->
               <button style="float: right;" type="button" class="btn btn-primary" (click)="showAdd()">
                <i style="margin: auto;" class="fa fa-plus-square-o" aria-hidden="true"></i>
              </button>
            
              <div bsModal #AddEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
                    aria-labelledby="dialog-sizes-name1" *ngIf="entity">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 id="dialog-sizes-name1" class="modal-title pull-left">Add and Edit Modal</h4>
                                <button type="button" class="close pull-right" (click)="AddEditModal.hide()"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form #loaiForm="ngForm" (ngSubmit)="onClick(loaiForm.value)">
                                    <div class="form-group">
                                        <label for="email">Nhập mã sản phẩm:</label>
                                        <input type="hidden" name="id"  [(ngModel)]="Id">
                                        <input type="text" class="form-control" placeholder="" #masanpham="ngModel" name="masanpham" 
                                            [(ngModel)]="entity.masanpham">
                                    </div>
                                    <div class="form-group">
                                      <label for="pwd">Nhập mã loại: </label>
                                      <input type="text" class="form-control" placeholder="" name="maloai" #maloai="ngModel"
                                          [(ngModel)]="entity.maloai">
                                   </div>
                                   <div class="form-group">
                                    <label for="pwd">Nhập mã hãng: </label>
                                    <input type="text" class="form-control" placeholder="" name="mahang" #mahang="ngModel"
                                        [(ngModel)]="entity.mahang">
                                     </div>
                                     <div class="form-group">
                                        <label for="pwd">Nhập tên sản phẩm: </label>
                                        <input type="text" class="form-control" placeholder="" name="tensanpham" #tensanpham="ngModel"
                                            [(ngModel)]="entity.tensanpham">
                                    </div>
                                    <div class="form-group">
                                        <label for="pwd">Nhập đơn giá: </label>
                                        <input type="number" class="form-control" placeholder="" name="dongia" #dongia="ngModel"
                                            [(ngModel)]="entity.dongia">
                                    </div>
                                    <div class="form-group">
                                        <label for="pwd">Nhập ngày cập nhật: </label>
                                        <input type="datetime-local" class="form-control" placeholder="" name="ngaycapnhat" #ngaycapnhat="ngModel"
                                            [(ngModel)]="entity.ngaycapnhat">
                                    </div>
                                    <div class="form-group">
                                        <label for="pwd">Nhập số lượng: </label>
                                        <input type="number" class="form-control" placeholder="" name="soluong" #soluong="ngModel"
                                            [(ngModel)]="entity.soluong">
                                    </div>
                                    <div class="form-group">
                                        <label for="pwd">Nhập hạn sử dụng: </label>
                                        <input type="text" class="form-control" placeholder="" name="hansudung" #hansudung="ngModel"
                                            [(ngModel)]="entity.hansudung">
                                    </div>
                                    <div class="form-group">
                                        <label for="pwd">Mô tả: </label>
                                        <input type="text" class="form-control" placeholder="" name="mota" #mota="ngModel"
                                            [(ngModel)]="entity.mota">
                                    </div>
                                    <div class="form-group">
                                        <label for="pwd">Nhập hình ảnh: </label>
                                        <input type="text" class="form-control" placeholder="" name="hinhanh" #hinhanh="ngModel"
                                            [(ngModel)]="entity.hinhanh">
                                    </div>
                                    <div class="form-group">
                                        <label for="pwd">Nhập trọng lượng: </label>
                                        <input type="text" class="form-control" placeholder="" name="trongluong" #trongluong="ngModel"
                                            [(ngModel)]="entity.trongluong">
                                    </div>
                                    <div class="form-group">
                                        <label for="pwd">Nhập xuất xứ: </label>
                                        <input type="text" class="form-control" placeholder="" name="xuatxu" #xuatxu="ngModel"
                                            [(ngModel)]="entity.xuatxu">
                                    </div>
                                    
                                    
                                    <button style="margin-left: 350px;" type="submit"
                                        class="btn btn-primary">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End thêm -->

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <!-- <th>#</th> -->
                            <th>Mã sản phẩm</th>
                            <th>Mã loại</th>
                            <th>Mã hãng</th>
                            <th>Tên sản phẩm</th>
                            <th>Đơn giá</th>
                            <th>Ngày cập nhật</th>
                            <th>Số lượng</th>
                            <th>Hạn sử dụng</th>
                            <th>Mô tả</th>
                            <th>Hình ảnh</th>
                            <th>Trọng lượng</th>
                            <th>Xuất xứ</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr *ngFor="let item of items;index as i"> -->
                        <tr *ngFor="let item of items;index as i">
                            <!-- <td>{{i}}</td> -->
                            <th scope="row">{{item.masanpham}}</th>
                            <td>{{item.maloai}}</td>
                            <td>{{item.mahang}}</td>
                            <td>{{item.tensanpham}}</td>
                            <td>{{item.dongia}}</td>
                            <td>{{item.ngaycapnhat}}</td>
                            <td>{{item.soluong}}</td>
                            <td>{{item.hansudung}}</td>
                            <td>{{item.mota}}</td>
                            <td>
                                <img class="hinhanh" src="../assets/nguoidung/images/sanpham/{{item.hinhanh}}" alt="">
                            </td>
                            <td>{{item.trongluong}}</td>
                            <td>{{item.xuatxu}}</td>
                            <td >
                                <i style="cursor: pointer;" class="fa fa-pencil-square-o text-success text-active"
                                 (click)="showEdit(item.masanpham)"></i>
                                <br>
                                <i style="cursor: pointer;" (click)="onDelete(item.masanpham)" 
                                class="fa fa-times text-danger text"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
    
</div>