 <!-- Page Banner Section Start -->
 <div class="page-banner-section section">
    <div class="container">
        <div class="row">
            <div class="col">
                
                <div class="page-banner text-center">
                    <h1>Contact us</h1>
                    <ul class="page-breadcrumb">
                        <li><a style="color: #d8d8d8;" routerLink="/main"> Home</a></li>
                        <li>Contact</li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</div><!-- Page Banner Section End -->

<!-- Contact Section Start -->
<div class="contact-section section position-relative pt-90 pb-60 pt-lg-80 pb-lg-50 pt-md-70 pb-md-40 pt-sm-60 pb-sm-30 pt-xs-50 pb-xs-20 fix">
   
    <div class="container">
        <div class="row">
            
            <!-- Contact Info Start -->
            <div class="col-lg-5 col-12 mb-30">
                <div class="contact-info">
                    <ul>
                        <li>
                            <h4>Address</h4>
                            <p>256, Centerl Town, Main Street Hilton Tower, New Yourk</p>
                        </li>
                        <li>
                            <h4>Phone</h4>
                            <p><a href="#">+8801265 897 568</a><a href="#">+8801235 598 656</a></p>
                        </li>
                        <li>
                            <h4>Web</h4>
                            <p><a href="#">info@example.com</a><a href="#">www.example.com</a></p>
                        </li>
                    </ul>
                </div>
            </div><!-- Contact Info End -->
            
            <!-- Contact Form Start -->
            <div class="col-lg-7 col-12 mb-30">
                <div class="contact-form-wrap">
                    <h3>Get in Touch</h3>
                    <p>Terms & Conditions deleniti atque corrupti sdolores et quas molestias cepturi sint  eca itate non similique sunt in culpa modi tempora incidunt  obtain pain</p>
                    <div class="contact-form">
                        <form id="contact-form" action="https://demo.hasthemes.com/bardy-preview/bardy/assets/php/mail.php" method="post">
                            <div class="row row-10">
                                <div class="col-md-6 col-12 mb-30"><input type="text" name="name" placeholder="Name"></div>
                                <div class="col-md-6 col-12 mb-30"><input type="email" name="email" placeholder="Email"></div>
                                <div class="col-md-6 col-12 mb-30"><input type="text" name="phone" placeholder="Phone"></div>
                                <div class="col-md-6 col-12 mb-30"><input type="text" name="subject" placeholder="Subject"></div>
                                <div class="col-12 mb-30"><textarea name="message" placeholder="Write message here..."></textarea></div>
                                <div class="col-12"><button>submit</button></div>
                            </div>
                        </form>
                        <p class="form-messege"></p>
                    </div>
                    
                </div>
            </div><!-- Contact Form End -->
            
        </div>
    </div>
    
</div><!-- Contact Section End -->

<!-- Brand Section Start -->
<div class="brand-section section pb-90 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50">
    <div class="container">
        <div class="row">
            
            <div class="brand-slider section">
                <div class="brand-item col"><img src="assets/images/brands/brand-1.png" alt=""></div>
                <div class="brand-item col"><img src="assets/images/brands/brand-2.png" alt=""></div>
                <div class="brand-item col"><img src="assets/images/brands/brand-3.png" alt=""></div>
                <div class="brand-item col"><img src="assets/images/brands/brand-4.png" alt=""></div>
                <div class="brand-item col"><img src="assets/images/brands/brand-5.png" alt=""></div>
            </div>
            
        </div>
    </div>
</div><!-- Brand Section End -->